In [602]:
import pandas as pd
import numpy as np
pd.set_option('mode.chained_assignment', None)

In [603]:
from os import listdir
from os.path import isfile, join
from datetime import datetime
from dateutil.parser import parse

In [604]:
confirmed_global_file = 'C:/Users/terra/corona_data/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
confirmed_states_file = 'C:/Users/terra/corona_data/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'

recovered_file = 'C:/Users/terra/corona_data/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

deaths_global_file = 'C:/Users/terra/corona_data/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
deaths_states_file = 'C:/Users/terra/corona_data/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'

In [605]:
confirmed_global_df = pd.read_csv(confirmed_global_file)
confirmed_states_df = pd.read_csv(confirmed_states_file)
recovered_df = pd.read_csv(recovered_file)
deaths_states_df = pd.read_csv(deaths_states_file)
deaths_global_df = pd.read_csv(deaths_global_file)
confirmed_global_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,110,110,120,170,174,237,273,281,299,349
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,186,197,212,223,243,259,277,304,333,361
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,409,454,511,584,716,847,986,1171,1251,1320
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,267,308,334,370,376,390,428,439,466,501
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,5,7,7,7,8,8,8,10,14

In [606]:
confirmed_global_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20'],
      dtype='object')

In [607]:
confirmed_states_df.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20'],
      dtype='object')

In [608]:
recovered_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20'],
      dtype='object')

In [609]:
import pymongo
import dns
username = 'read_only'
password = 'rJMef22QkRqPDFzk'

conn = 'mongodb+srv://' + username +':' + password + '@cluster0-paegd.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)
db = client['corona_virus']
collection = db['cases_by_date']

In [610]:
confirmed_global_columns = confirmed_global_df.columns[4:]
recovered_columns = recovered_df.columns[4:]
deaths_global_columns = deaths_global_df.columns[4:]

# confirmed_states_columns = confirmed_global_df.columns[11:]
# deaths_states_columns = confirmed_global_df.columns[11:]


confirmed_dates = pd.to_datetime(confirmed_global_columns)
recovered_dates = pd.to_datetime(recovered_columns)
deaths_dates = pd.to_datetime(deaths_global_columns)

# confirmed_US_dates = pd.to_datetime(confirmed_states_columns)
# deaths_US_dates = pd.to_datetime(confirmed_states_columns)

confirmed_dates_formatted = []
recovered_dates_formatted = []
deaths_dates_formatted = []

for x in confirmed_dates:
    confirmed_dates_formatted.append(x.strftime("%m/%d/%Y"))
for x in recovered_dates:
    recovered_dates_formatted.append(x.strftime("%m/%d/%Y"))
for x in deaths_dates:
    deaths_dates_formatted.append(x.strftime("%m/%d/%Y"))
    
confirmed_dates_formatted = pd.to_datetime(confirmed_dates_formatted)
recovered_dates_formatted = pd.to_datetime(recovered_dates_formatted)
deaths_dates_formatted = pd.to_datetime(deaths_dates_formatted)
confirmed_dates

DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
               '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
               '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
               '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
               '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
               '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
               '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
               '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
               '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
               '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
               '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
               '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
               '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
               '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
               '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
               '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02',
               '2020-04-03', '2020-04-04', '2020-04-05'],
              dtype='datetime64[ns]', freq=None)

In [611]:
cursor = collection.find().sort([('date', -1)]).limit(1)

In [612]:
for x in cursor:
    last_update = x['date']

last_update

Timestamp('2020-01-01 00:00:00')

In [613]:
# last_update = '2020-01-01'

# last_update.strftime("%m/%d/%Y")

last_update = pd.to_datetime('01-01-2020')

In [614]:
i = 0
confirmed_imports = []
for x in confirmed_dates_formatted:
    if x > last_update:
        confirmed_imports.append(confirmed_global_columns[i])
    i = i + 1

i = 0
recovered_imports = []
for x in recovered_dates_formatted:
    if x > last_update:
        recovered_imports.append(recovered_columns[i])
    i = i + 1
    
i = 0
deaths_imports = []
for x in deaths_dates_formatted:
    if x > last_update:
        deaths_imports.append(deaths_global_columns[i])
    i = i + 1

confirmed_imports = confirmed_imports[::-1]
recovered_imports = recovered_imports[::-1]
deaths_imports = deaths_imports[::-1]

z = ''
i = 0
confirmed_imports_filtered = []
for x in confirmed_imports:
    if x[0:6] == z:
        pass
    else:
        confirmed_imports_filtered.append(x)
    z = x[0:6]
    i = i + 1
confirmed_imports_filtered

z = ''
i = 0
recovered_imports_filtered = []
for x in recovered_imports:
    if x[0:6] == z:
        pass
    else:
        recovered_imports_filtered.append(x)
    z = x[0:6]
    i = i + 1
recovered_imports_filtered

z = ''
i = 0
deaths_imports_filtered = []
for x in deaths_imports:
    if x[0:6] == z:
        pass
    else:
        deaths_imports_filtered.append(x)
    z = x[0:6]
    i = i + 1

confirmed_global_imports_filtered = confirmed_imports_filtered[::-1] + list(confirmed_global_df.columns[0:4])
recovered_global_imports_filtered = recovered_imports_filtered[::-1] + list(recovered_df.columns[0:4])
deaths_global_imports_filtered = deaths_imports_filtered[::-1] + list(deaths_global_df.columns[0:4])
deaths_US_imports_filtered = deaths_imports_filtered[::-1] + list(deaths_states_df.columns[0:11])
confirmed_US_imports_filtered = confirmed_imports_filtered[::-1] + list(confirmed_states_df.columns[0:11])

In [615]:
confirmed_global_df = confirmed_global_df[confirmed_global_imports_filtered]
confirmed_states_df = confirmed_states_df[confirmed_US_imports_filtered]
recovered_df = recovered_df[recovered_global_imports_filtered]
deaths_global_df = deaths_global_df[deaths_global_imports_filtered]
deaths_states_df = deaths_states_df[deaths_US_imports_filtered]

In [616]:
confirmed_global_df.columns

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
       '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
       '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20',
       '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20',
       '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20',
       '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20',
       'Province/State', 'Country/Region', 'Lat', 'Long'],
      dtype='object')

In [617]:
confirmed_states_df.columns

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
       '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
       '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20',
       '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20',
       '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20',
       '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', 'UID',
       'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key'],
      dtype='object')

In [618]:
confirmed_US_df = confirmed_states_df.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Combined_Key' ], axis=1)
deaths_US_df = deaths_states_df.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Combined_Key' ], axis=1)
confirmed_US_df.rename(columns={"Long_": "Long", "Country_Region": "Country/Region", "Province_State": "Province/State"}, inplace = True)
deaths_US_df.rename(columns={"Long_": "Long", "Country_Region": "Country/Region", "Province_State": "Province/State"}, inplace = True)
recovered_df["Admin2"] = np.nan

In [619]:
confirmed_df = confirmed_US_df.append(confirmed_global_df)
deaths_df = deaths_US_df.append(deaths_global_df)

In [620]:
confirmed_df = confirmed_df.reset_index()
recovered_df = recovered_df.reset_index()
deaths_df = deaths_df.reset_index()

confirmed_df.loc[confirmed_df['Province/State'].isnull(),'Province/State'] = confirmed_df['Country/Region']
confirmed_df.loc[confirmed_df['Admin2'].isnull(),'Admin2'] = confirmed_df['Country/Region']

recovered_df.loc[confirmed_df['Province/State'].isnull(),'Province/State'] = recovered_df['Country/Region']
recovered_df.loc[confirmed_df['Admin2'].isnull(),'Admin2'] = recovered_df['Country/Region']

deaths_df.loc[confirmed_df['Province/State'].isnull(),'Province/State'] = deaths_df['Country/Region']
deaths_df.loc[confirmed_df['Admin2'].isnull(),'Admin2'] = deaths_df['Country/Region']

In [621]:
confirmed_df[confirmed_df['Country/Region'] == 'Zimbabwe']

,index,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,Admin2,Country/Region,Lat,Long,Province/State
3483,230,0,0,0,0,0,0,0,0,0,...,8,9,9,9,9,Zimbabwe,Zimbabwe,-20.0,30.0,Zimbabwe

In [622]:
confirmed_df

,index,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,Admin2,Country/Region,Lat,Long,Province/State
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,US,US,-14.271000,-170.132000,American Samoa
1,1,0,0,0,0,0,0,0,0,0,...,77,82,84,93,112,US,US,13.444300,144.793700,Guam
2,2,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,US,US,15.097900,145.673900,Northern Mariana Islands
3,3,0,0,0,0,0,0,0,0,0,...,286,316,316,452,475,US,US,18.220800,-66.590100,Puerto Rico
4,4,0,0,0,0,0,0,0,0,0,...,30,30,37,40,42,US,US,18.335800,-64.896300,Virgin Islands
5,5,0,0,0,0,0,0,0,0,0,...,8,10,12,12,12,Autauga,US,32.539527,-86.644082,Alabama
6,6,0,0,0,0,0,0,0,0,0,...,20,24,28,29,29,Baldwin,US,30.727750,-87.722071,Alabama
7,7,0,0,0,0,0,0,0,0,0,...,0,0,1,2,2,Barbour,US,31.868263,-85.387129,Alabama
8,8,0,0,0,0,0,0,0,0,0,...,3,4,4,4,5,Bibb,US,32.996421,-87.125115,Alabama
9,9,0,0,0,0,0,0,0,0,0,...,5,6,9,10,10,Blount,US,33.982109,-86.567906,Alabama
10,10,0,0,0,0,0,0,0,0,0,...,3,2,2,2,2,Bullock,US,32.100305,-85.712655,Alabama
11,11,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,Butler,US,31.753001,-86.680575,Alabama
12,12,0,0,0,0,0,0,0,0,0,...,11,12,18,21,23,Calhoun,US,33.774837,-85.826304,Alabama
13,13,0,0,0,0,0,0,0,0,0,...,42,67,80,87,89,Chambers,US,32.913601,-85.390727,Alabama
14,14,0,0,0,0,0,0,0,0,0,...,2,4,5,6,6,Cherokee,US,34.178060,-85.606390,Alabama
15,15,0,0,0,0,0,0,0,0,0,...,13,14,15,15,15,Chilton,US,32.850441,-86.717326,Alabama
16,16,0,0,0,0,0,0,0,0,0,...,4,4,4,4,5,Choctaw,US,32.022273,-88.265644,Alabama
17,17,0,0,0,0,0,0,0,0,0,...,0,2,3,6,8,Clarke,US,31.680999,-87.835486,Alabama
18,18,0,0,0,0,0,0,0,0,0,...,2,6,8,8,9,Clay,US,33.269842,-85.858361,Alabama
19,19,0,0,0,0,0,0,0,0,0,...,6,6,7,7,7,Cleburne,US,33.676792,-85.520059,Alabama
20,20,0,0,0,0,0,0,0,0,0,...,0,1,5,7,7,Coffee,US,31.399328,-85.989010,Alabama
21,21,0,0,0,0,0,0,0,0,0,...,4,5,5,5,6,Colbert,US,34.698475,-87.801685,Alabama
22,22,0,0,0,0,0,0,0,0,0,...,0,1,1,2,2,Conecuh,US,31.434017,-86.993200,Alabama
23,23,0,0,0,0,0,0,0,0,0,...,4,5,6,6,7,Coosa,US,32.936901,-86.248477,Alabama
24,24,0,0,0,0,0,0,0,0,0,...,3,3,4,4,4,Covington,US,31.247785,-86.450509,Alabama
25,25,0,0,0,0,0,0,0,0,0,...,1,1,1,2,2,Crenshaw,US,31.729418,-86.315931,Alabama
26,26,0,0,0,0,0,0,0,0,0,...,9,9,15,15,15,Cullman,US,34.130203,-86.868880,Alabama
27,27,0,0,0,0,0,0,0,0,0,...,0,1,1,2,2,Dale,US,31.430371,-85.610957,Alabama
28,28,0,0,0,0,0,0,0,0,0,...,2,4,7,7,7,Dallas,US,32.326881,-87.108667,Alabama
29,29,0,0,0,0,0,0,0,0,0,...,5,8,10,13,14,DeKalb,US,34.459469,-85.807829,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3485,232,0,0,0,0,0,0,0,0,0,...,12,12,12,14,14,Dominica,Dominica,15.415000,-61.371000,Dominica
3486,233,0,0,0,0,0,0,0,0,0,...,9,10,12,12,12,Grenada,Grenada,12.116500,-61.679000,Grenada
3487,234,0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,Mozambique,Mozambique,-18.665695,35.529562,Mozambique
3488,235,0,0,0,0,0,0,0,0,0,...,10,16,16,16,19,Syria,Syria,34.802075,38.996815,Syria
3489,236,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,Timor-Leste,Timor-Leste,-8.874217,125.727539,Timor-Leste
3490,237,0,0,0,0,0,0,0,0,0,...,3,3,4,4,5,Belize,Belize,13.193900,-59.543200,Belize
3491,238,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Canada,Canada,0.000000,0.000000,Recovered
3492,239,0,0,0,0,0,0,0,0,0,...,10,10,10,10,11,Laos,Laos,19.856270,102.495496,Laos
3493,240,0,0,0,0,0,0,0,0,0,...,10,11,11,18,18,Libya,Libya,26.335100,17.228331,Libya
3494,241,0,0,0,0,0,0,0,0,0,...,134,161,194,217,237,West Bank and Gaza,West Bank and Gaza,31.952200,35.233200,West Bank and Gaza
3495,242,0,0,0,0,0,0,0,0,0,...,9,9,15,18,18,Guinea-Bissau,Guinea-Bissau,11.803700,-15.180400,Guinea-Bissau
3496,243,0,0,0,0,0,0,0,0,0,...,31,36,39,41,45,Mali,Mali,17.570692,-3.996166,Mali
3497,244,0,0,0,0,0,0,0,0,0,...,8,9,9,9,10,Saint Kitts and Nevis,Saint Kitts and Nevis,17.357822,-62.782998,Saint Kitts and Nevis
3498,245,0,0,0,0,0,0,0,0,0,...,2,2,2,4,4,Canada,Canada,64.825500,-124.845700,Northwest Territories
3499,246,0,0,0,0,0,0,0,0,0,...,5,6,6,6,6,Canada,Canada,64.282300,-135.000000,Yukon
3500,247,0,0,0,0,0,0,0,0,0,...,125,125,126,135,145,Kosovo,Kosovo,42.602636,20.902977,Kosovo
3501,248,0,0,0,0,0,0,0,0,0,...,15,20,20,21,21,Burma,Burma,21.916200,95.956000,Burma
3502,249,0,0,0,0,0,0,0,0,0,...,2,3,3,3,3,United Kingdom,United Kingdom,18.220600,-63.068600,Anguilla
3503,250,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,United Kingdom,United Kingdom,18.420700,-64.640000,British Virgin Islands
3504,251,0,0,0,0,0,0,0,0,0,...,6,5,5,5,5,United Kingdom,United Kingdom,21.694000,-71.797900,Turks and Caicos Islands
3505,252,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,MS Zaandam,MS Zaandam,0.000000,0.000000,MS Zaandam
3506,253,0,0,0,0,0,0,0,0,0,...,4,4,4,4,6,Botswana,Botswana,-22.328500,24.684900,Botswana
3507,254,0,0,0,0,0,0,0,0,0,...,2,3,3,3,3,Burundi,Burundi,-3.373100,29.918900,Burundi
3508,255,0,0,0,0,0,0,0,0,0,...,2,2,2,4,6,Sierra Leone,Sierra Leone,8.460555,-11.779889,Sierra Leone
3509,256,0,0,0,0,0,0,0,0,0,...,0,2,2,2,2,Netherlands,Netherlands,12.178400,-68.238500,"Bonaire, Sint Eustatius and Saba"
3510,257,0,0,0,0,0,0,0,0,0,...,0,3,3,4,4,Malawi,Malawi,-13.254308,34.301525,Malawi
3511,258,0,0,0,0,0,0,0,0,0,...,0,0,0,1,2,United Kingdom,United Kingdom,-51.796300,-59.523600,Falkland Islands (Islas Malvinas)
3512,259,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,France,France,46.885200,-56.315900,Saint Pierre and Miquelon
3513,260,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,South Sudan,South Sudan,6.877000,31.307000,South Sudan
3514,261,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,Western Sahara,Western Sahara,24.215500,-12.885800,Western Sahara

In [623]:
confirmed_df = confirmed_df.melt(id_vars=["Province/State", "Country/Region", "Admin2", "Lat", "Long"], 
        var_name="Date", 
        value_name="Confirmed Cases").sort_values(by=['Province/State', 'Admin2', 'Date'])
recovered_df = recovered_df.melt(id_vars=["Province/State", "Country/Region", "Admin2", "Lat", "Long"], 
        var_name="Date", 
        value_name="Recovered Cases").sort_values(by=['Province/State', 'Admin2', 'Date'])
deaths_df = deaths_df.melt(id_vars=["Province/State", "Country/Region", "Admin2", "Lat", "Long"], 
        var_name="Date", 
        value_name="Death Cases").sort_values(by=['Province/State', 'Admin2', 'Date'])

In [624]:
confirmed_df = confirmed_df[~confirmed_df.Date.str.contains("index")]
recovered_df = recovered_df[~recovered_df.Date.str.contains("index")]
deaths_df = deaths_df[~deaths_df.Date.str.contains("index")]

In [625]:

confirmed_df.fillna(0, inplace=True)
confirmed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263625 entries, 6768 to 267108
Data columns (total 7 columns):
Province/State     263625 non-null object
Country/Region     263625 non-null object
Admin2             263625 non-null object
Lat                263625 non-null float64
Long               263625 non-null float64
Date               263625 non-null object
Confirmed Cases    263625 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 16.1+ MB

In [626]:
recovered_df.fillna(0, inplace=True)
recovered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18600 entries, 483 to 18847
Data columns (total 7 columns):
Province/State     18600 non-null object
Country/Region     18600 non-null object
Admin2             18600 non-null int64
Lat                18600 non-null float64
Long               18600 non-null float64
Date               18600 non-null object
Recovered Cases    18600 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.1+ MB

In [627]:
deaths_df.fillna(0, inplace=True)
deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263625 entries, 3520 to 267139
Data columns (total 7 columns):
Province/State    263625 non-null object
Country/Region    263625 non-null object
Admin2            263625 non-null object
Lat               263625 non-null float64
Long              263625 non-null float64
Date              263625 non-null object
Death Cases       263625 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 16.1+ MB

In [628]:
deaths_df[deaths_df['Province/State'] == 'California']

,Province/State,Country/Region,Admin2,Lat,Long,Date,Death Cases
3706,California,US,Alameda,37.646294,-121.892927,1/22/20,0
7221,California,US,Alameda,37.646294,-121.892927,1/23/20,0
10736,California,US,Alameda,37.646294,-121.892927,1/24/20,0
14251,California,US,Alameda,37.646294,-121.892927,1/25/20,0
17766,California,US,Alameda,37.646294,-121.892927,1/26/20,0
21281,California,US,Alameda,37.646294,-121.892927,1/27/20,0
24796,California,US,Alameda,37.646294,-121.892927,1/28/20,0
28311,California,US,Alameda,37.646294,-121.892927,1/29/20,0
31826,California,US,Alameda,37.646294,-121.892927,1/30/20,0
35341,California,US,Alameda,37.646294,-121.892927,1/31/20,0
38856,California,US,Alameda,37.646294,-121.892927,2/1/20,0
42371,California,US,Alameda,37.646294,-121.892927,2/10/20,0
45886,California,US,Alameda,37.646294,-121.892927,2/11/20,0
49401,California,US,Alameda,37.646294,-121.892927,2/12/20,0
52916,California,US,Alameda,37.646294,-121.892927,2/13/20,0
56431,California,US,Alameda,37.646294,-121.892927,2/14/20,0
59946,California,US,Alameda,37.646294,-121.892927,2/15/20,0
63461,California,US,Alameda,37.646294,-121.892927,2/16/20,0
66976,California,US,Alameda,37.646294,-121.892927,2/17/20,0
70491,California,US,Alameda,37.646294,-121.892927,2/18/20,0
74006,California,US,Alameda,37.646294,-121.892927,2/19/20,0
77521,California,US,Alameda,37.646294,-121.892927,2/2/20,0
81036,California,US,Alameda,37.646294,-121.892927,2/20/20,0
84551,California,US,Alameda,37.646294,-121.892927,2/21/20,0
88066,California,US,Alameda,37.646294,-121.892927,2/22/20,0
91581,California,US,Alameda,37.646294,-121.892927,2/23/20,0
95096,California,US,Alameda,37.646294,-121.892927,2/24/20,0
98611,California,US,Alameda,37.646294,-121.892927,2/25/20,0
102126,California,US,Alameda,37.646294,-121.892927,2/26/20,0
105641,California,US,Alameda,37.646294,-121.892927,2/27/20,0
...,...,...,...,...,...,...,...
161938,California,US,Yuba,39.262559,-121.353564,3/15/20,0
165453,California,US,Yuba,39.262559,-121.353564,3/16/20,0
168968,California,US,Yuba,39.262559,-121.353564,3/17/20,0
172483,California,US,Yuba,39.262559,-121.353564,3/18/20,0
175998,California,US,Yuba,39.262559,-121.353564,3/19/20,0
179513,California,US,Yuba,39.262559,-121.353564,3/2/20,0
183028,California,US,Yuba,39.262559,-121.353564,3/20/20,0
186543,California,US,Yuba,39.262559,-121.353564,3/21/20,0
190058,California,US,Yuba,39.262559,-121.353564,3/22/20,0
193573,California,US,Yuba,39.262559,-121.353564,3/23/20,0
197088,California,US,Yuba,39.262559,-121.353564,3/24/20,0
200603,California,US,Yuba,39.262559,-121.353564,3/25/20,0
204118,California,US,Yuba,39.262559,-121.353564,3/26/20,0
207633,California,US,Yuba,39.262559,-121.353564,3/27/20,0
211148,California,US,Yuba,39.262559,-121.353564,3/28/20,0
214663,California,US,Yuba,39.262559,-121.353564,3/29/20,0
218178,California,US,Yuba,39.262559,-121.353564,3/3/20,0
221693,California,US,Yuba,39.262559,-121.353564,3/30/20,0
225208,California,US,Yuba,39.262559,-121.353564,3/31/20,0
228723,California,US,Yuba,39.262559,-121.353564,3/4/20,0
232238,California,US,Yuba,39.262559,-121.353564,3/5/20,0
235753,California,US,Yuba,39.262559,-121.353564,3/6/20,0
239268,California,US,Yuba,39.262559,-121.353564,3/7/20,0
242783,California,US,Yuba,39.262559,-121.353564,3/8/20,0
246298,California,US,Yuba,39.262559,-121.353564,3/9/20,0
249813,California,US,Yuba,39.262559,-121.353564,4/1/20,0
253328,California,US,Yuba,39.262559,-121.353564,4/2/20,0
256843,California,US,Yuba,39.262559,-121.353564,4/3/20,0
260358,California,US,Yuba,39.262559,-121.353564,4/4/20,0
263873,California,US,Yuba,39.262559,-121.353564,4/5/20,0

In [629]:
df = pd.concat([confirmed_df, recovered_df, deaths_df], axis=1)
### Remove duplicated columns

In [630]:
df.columns

Index(['Province/State', 'Country/Region', 'Admin2', 'Lat', 'Long', 'Date',
       'Confirmed Cases', 'Province/State', 'Country/Region', 'Admin2', 'Lat',
       'Long', 'Date', 'Recovered Cases', 'Province/State', 'Country/Region',
       'Admin2', 'Lat', 'Long', 'Date', 'Death Cases'],
      dtype='object')

In [631]:
df = df.iloc[:, [0,1,2,3,4,5,6,13,20]]

In [632]:
df

,Province/State,Country/Region,Admin2,Lat,Long,Date,Confirmed Cases,Recovered Cases,Death Cases
248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...
267110,Dominica,Dominica,Dominica,15.415000,-61.371000,4/5/20,14.0,NaN,0.0
267111,Grenada,Grenada,Grenada,12.116500,-61.679000,4/5/20,12.0,NaN,0.0
267112,Mozambique,Mozambique,Mozambique,-18.665695,35.529562,4/5/20,10.0,NaN,0.0
267113,Syria,Syria,Syria,34.802075,38.996815,4/5/20,19.0,NaN,2.0
267114,Timor-Leste,Timor-Leste,Timor-Leste,-8.874217,125.727539,4/5/20,1.0,NaN,0.0
267115,Belize,Belize,Belize,13.193900,-59.543200,4/5/20,5.0,NaN,0.0
267116,Recovered,Canada,Canada,0.000000,0.000000,4/5/20,0.0,NaN,0.0
267117,Laos,Laos,Laos,19.856270,102.495496,4/5/20,11.0,NaN,0.0
267118,Libya,Libya,Libya,26.335100,17.228331,4/5/20,18.0,NaN,1.0
267119,West Bank and Gaza,West Bank and Gaza,West Bank and Gaza,31.952200,35.233200,4/5/20,237.0,NaN,1.0
267120,Guinea-Bissau,Guinea-Bissau,Guinea-Bissau,11.803700,-15.180400,4/5/20,18.0,NaN,0.0
267121,Mali,Mali,Mali,17.570692,-3.996166,4/5/20,45.0,NaN,5.0
267122,Saint Kitts and Nevis,Saint Kitts and Nevis,Saint Kitts and Nevis,17.357822,-62.782998,4/5/20,10.0,NaN,0.0
267123,Northwest Territories,Canada,Canada,64.825500,-124.845700,4/5/20,4.0,NaN,0.0
267124,Yukon,Canada,Canada,64.282300,-135.000000,4/5/20,6.0,NaN,0.0
267125,Kosovo,Kosovo,Kosovo,42.602636,20.902977,4/5/20,145.0,NaN,1.0
267126,Burma,Burma,Burma,21.916200,95.956000,4/5/20,21.0,NaN,1.0
267127,Anguilla,United Kingdom,United Kingdom,18.220600,-63.068600,4/5/20,3.0,NaN,0.0
267128,British Virgin Islands,United Kingdom,United Kingdom,18.420700,-64.640000,4/5/20,3.0,NaN,0.0
267129,Turks and Caicos Islands,United Kingdom,United Kingdom,21.694000,-71.797900,4/5/20,5.0,NaN,1.0
267130,MS Zaandam,MS Zaandam,MS Zaandam,0.000000,0.000000,4/5/20,9.0,NaN,2.0
267131,Botswana,Botswana,Botswana,-22.328500,24.684900,4/5/20,6.0,NaN,1.0
267132,Burundi,Burundi,Burundi,-3.373100,29.918900,4/5/20,3.0,NaN,0.0
267133,Sierra Leone,Sierra Leone,Sierra Leone,8.460555,-11.779889,4/5/20,6.0,NaN,0.0
267134,"Bonaire, Sint Eustatius and Saba",Netherlands,Netherlands,12.178400,-68.238500,4/5/20,2.0,NaN,0.0
267135,Malawi,Malawi,Malawi,-13.254308,34.301525,4/5/20,4.0,NaN,0.0
267136,Falkland Islands (Islas Malvinas),United Kingdom,United Kingdom,-51.796300,-59.523600,4/5/20,2.0,NaN,0.0
267137,Saint Pierre and Miquelon,France,France,46.885200,-56.315900,4/5/20,1.0,NaN,0.0
267138,South Sudan,South Sudan,South Sudan,6.877000,31.307000,4/5/20,1.0,NaN,0.0
267139,Western Sahara,Western Sahara,Western Sahara,24.215500,-12.885800,4/5/20,4.0,NaN,0.0

In [501]:
by_date = df.groupby(["Date", "Province/State"]).max().reset_index()

In [502]:
by_date

,Date,Province/State,Admin2,Country/Region
0,1/22/20,Afghanistan,Afghanistan,Afghanistan
1,1/22/20,Alabama,Winston,US
2,1/22/20,Alaska,Yukon-Koyukuk,US
3,1/22/20,Albania,Albania,Albania
4,1/22/20,Alberta,Canada,Canada
5,1/22/20,Algeria,Algeria,Algeria
6,1/22/20,American Samoa,US,US
7,1/22/20,Andorra,Andorra,Andorra
8,1/22/20,Angola,Angola,Angola
9,1/22/20,Anguilla,United Kingdom,United Kingdom
10,1/22/20,Anhui,China,China
11,1/22/20,Antigua and Barbuda,Antigua and Barbuda,Antigua and Barbuda
12,1/22/20,Argentina,Argentina,Argentina
13,1/22/20,Arizona,Yuma,US
14,1/22/20,Arkansas,Yell,US
15,1/22/20,Armenia,Armenia,Armenia
16,1/22/20,Aruba,Netherlands,Netherlands
17,1/22/20,Australian Capital Territory,Australia,Australia
18,1/22/20,Austria,Austria,Austria
19,1/22/20,Azerbaijan,Azerbaijan,Azerbaijan
20,1/22/20,Bahamas,Bahamas,Bahamas
21,1/22/20,Bahrain,Bahrain,Bahrain
22,1/22/20,Bangladesh,Bangladesh,Bangladesh
23,1/22/20,Barbados,Barbados,Barbados
24,1/22/20,Beijing,China,China
25,1/22/20,Belarus,Belarus,Belarus
26,1/22/20,Belgium,Belgium,Belgium
27,1/22/20,Belize,Belize,Belize
28,1/22/20,Benin,Benin,Benin
29,1/22/20,Bermuda,United Kingdom,United Kingdom
...,...,...,...,...
23670,4/5/20,Tunisia,Tunisia,Tunisia
23671,4/5/20,Turkey,Turkey,Turkey
23672,4/5/20,Turks and Caicos Islands,United Kingdom,United Kingdom
23673,4/5/20,US,US,US
23674,4/5/20,Uganda,Uganda,Uganda
23675,4/5/20,Ukraine,Ukraine,Ukraine
23676,4/5/20,United Arab Emirates,United Arab Emirates,United Arab Emirates
23677,4/5/20,United Kingdom,United Kingdom,United Kingdom
23678,4/5/20,Uruguay,Uruguay,Uruguay
23679,4/5/20,Utah,Weber,US
23680,4/5/20,Uzbekistan,Uzbekistan,Uzbekistan
23681,4/5/20,Venezuela,Venezuela,Venezuela
23682,4/5/20,Vermont,Windsor,US
23683,4/5/20,Victoria,Australia,Australia
23684,4/5/20,Vietnam,Vietnam,Vietnam
23685,4/5/20,Virgin Islands,US,US
23686,4/5/20,Virginia,York,US
23687,4/5/20,Washington,Yakima,US
23688,4/5/20,West Bank and Gaza,West Bank and Gaza,West Bank and Gaza
23689,4/5/20,West Virginia,Wyoming,US
23690,4/5/20,Western Australia,Australia,Australia
23691,4/5/20,Western Sahara,Western Sahara,Western Sahara
23692,4/5/20,Wisconsin,Wood,US
23693,4/5/20,Wyoming,Weston,US
23694,4/5/20,Xinjiang,China,China
23695,4/5/20,Yukon,Canada,Canada
23696,4/5/20,Yunnan,China,China
23697,4/5/20,Zambia,Zambia,Zambia
23698,4/5/20,Zhejiang,China,China
23699,4/5/20,Zimbabwe,Zimbabwe,Zimbabwe

In [503]:
totals = by_date.groupby("Date")["Confirmed Cases", "Recovered Cases", "Death Cases"].sum().reset_index()
totals.sort_values(by='Date', ascending=True, inplace=True)

KeyError: "Columns not found: 'Recovered Cases', 'Confirmed Cases', 'Death Cases'"

In [ ]:
totals

In [81]:
totals['Date'] = pd.to_datetime(totals['Date'])
by_date['Date'] = pd.to_datetime(by_date['Date'])

In [82]:
totals

                 Date  Confirmed Cases  Recovered Cases  Death Cases
0 2020-02-10 19:30:00          42767.0           3950.0       1013.0
1 2020-02-11 20:44:00          45117.0           4781.0       1115.0
2 2020-02-05 23:00:00          28274.0           1198.0        565.0
3 2020-02-06 14:20:00          28353.0           1382.0        565.0
4 2020-02-07 22:50:00          34899.0           1995.0        724.0
5 2020-02-08 23:04:00          37549.0           2701.0        813.0
6 2020-02-09 23:20:00          40536.0           3312.0        910.0

In [322]:
### iterate through totals df so there is only one document per day
for index, row in totals.iterrows():
    date = row['Date']
    ### base post object
    post = {
        'date': row['Date'],
        'total_confirmed': row['Confirmed Cases'],
        'total_recovered': row['Recovered Cases'],
        'total_deaths': row['Death Cases'],
        'locations': {} ### this will be updated in the next itteration
        }
    ### iterate through by_date df to store relevant data
    for i, r in by_date.iterrows():
        ### only add to post if the date in by_date df matches the date in current itteration of totals df
        if r['Date'] == date:
            location = r['Province/State']
            ### temporary object to hold data that will be added to "locations" in post
            obj = {
                        "region": r['Country/Region'],
                        "lat": r["Lat"],
                        "lng": r["Long"],
                        "confirmed": r["Confirmed Cases"],
                        "recovered": r["Recovered Cases"],
                        "deaths": r["Death Cases"]
                    }
            ### add obj data to posted data
            post['locations'][location] = obj
            
            ### upload post to Mongo DB
        else:
            
            continue
    id = collection.insert_one(post).inserted_id

In [323]:
post

{'date': Timestamp('2020-02-09 23:20:00'),
 'total_confirmed': 40536.0,
 'total_recovered': 3312.0,
 'total_deaths': 910.0,
 'locations': {'Anhui': {'region': 'Mainland China',
   'lat': 31.82571,
   'lng': 117.2264,
   'confirmed': 830.0,
   'recovered': 73.0,
   'deaths': 3.0},
  'Beijing': {'region': 'Mainland China',
   'lat': 40.18238,
   'lng': 116.4142,
   'confirmed': 337.0,
   'recovered': 44.0,
   'deaths': 2.0},
  'Belgium': {'region': 'Belgium',
   'lat': 50.5039,
   'lng': 4.4699,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Boston, MA': {'region': 'US',
   'lat': 42.3601,
   'lng': -71.0589,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'British Columbia': {'region': 'Canada',
   'lat': 49.2827,
   'lng': -123.121,
   'confirmed': 4.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Cambodia': {'region': 'Cambodia',
   'lat': 12.5657,
   'lng': 104.991,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Chicago, IL': {'region': 'US',
   'lat': 40.6331,
   'lng': -89.3985,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Chongqing': {'region': 'Mainland China',
   'lat': 30.05718,
   'lng': 107.874,
   'confirmed': 468.0,
   'recovered': 51.0,
   'deaths': 2.0},
  'Diamond Princess cruise ship': {'region': 'Others',
   'lat': 35.4437,
   'lng': 129.638,
   'confirmed': 64.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Finland': {'region': 'Finland',
   'lat': 61.9241,
   'lng': 25.7482,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'France': {'region': 'France',
   'lat': 46.2276,
   'lng': 2.2137,
   'confirmed': 11.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Fujian': {'region': 'Mainland China',
   'lat': 26.07783,
   'lng': 117.9895,
   'confirmed': 261.0,
   'recovered': 35.0,
   'deaths': 0.0},
  'Gansu': {'region': 'Mainland China',
   'lat': 36.0611,
   'lng': 103.8343,
   'confirmed': 83.0,
   'recovered': 16.0,
   'deaths': 2.0},
  'Germany': {'region': 'Germany',
   'lat': 51.1657,
   'lng': 10.4515,
   'confirmed': 14.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Guangdong': {'region': 'Mainland China',
   'lat': 23.33841,
   'lng': 113.422,
   'confirmed': 1151.0,
   'recovered': 147.0,
   'deaths': 1.0},
  'Guangxi': {'region': 'Mainland China',
   'lat': 23.82908,
   'lng': 108.7881,
   'confirmed': 210.0,
   'recovered': 18.0,
   'deaths': 1.0},
  'Guizhou': {'region': 'Mainland China',
   'lat': 26.81536,
   'lng': 106.8748,
   'confirmed': 109.0,
   'recovered': 7.0,
   'deaths': 1.0},
  'Hainan': {'region': 'Mainland China',
   'lat': 19.19673,
   'lng': 109.7455,
   'confirmed': 136.0,
   'recovered': 19.0,
   'deaths': 3.0},
  'Hebei': {'region': 'Mainland China',
   'lat': 38.0428,
   'lng': 114.5149,
   'confirmed': 218.0,
   'recovered': 35.0,
   'deaths': 2.0},
  'Heilongjiang': {'region': 'Mainland China',
   'lat': 47.862,
   'lng': 127.7622,
   'confirmed': 331.0,
   'recovered': 15.0,
   'deaths': 7.0},
  'Henan': {'region': 'Mainland China',
   'lat': 33.882020000000004,
   'lng': 113.614,
   'confirmed': 1073.0,
   'recovered': 169.0,
   'deaths': 6.0},
  'Hong Kong': {'region': 'Hong Kong',
   'lat': 22.3193,
   'lng': 114.1694,
   'confirmed': 36.0,
   'recovered': 3.0,
   'deaths': 0.0},
  'Hubei': {'region': 'Mainland China',
   'lat': 30.97564,
   'lng': 112.2707,
   'confirmed': 29631.0,
   'recovered': 1795.0,
   'deaths': 871.0},
  'Hunan': {'region': 'Mainland China',
   'lat': 27.61041,
   'lng': 111.7088,
   'confirmed': 879.0,
   'recovered': 186.0,
   'deaths': 1.0},
  'India': {'region': 'India',
   'lat': 20.5937,
   'lng': 78.9629,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Inner Mongolia': {'region': 'Mainland China',
   'lat': 44.09448,
   'lng': 113.9456,
   'confirmed': 58.0,
   'recovered': 5.0,
   'deaths': 0.0},
  'Italy': {'region': 'Italy',
   'lat': 41.8719,
   'lng': 12.5674,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Japan': {'region': 'Japan',
   'lat': 35.6762,
   'lng': 139.6503,
   'confirmed': 26.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Jiangsu': {'region': 'Mainland China',
   'lat': 32.97027,
   'lng': 119.464,
   'confirmed': 492.0,
   'recovered': 72.0,
   'deaths': 0.0},
  'Jiangxi': {'region': 'Mainland China',
   'lat': 27.61401,
   'lng': 115.7221,
   'confirmed': 771.0,
   'recovered': 102.0,
   'deaths': 1.0},
  'Jilin': {'region': 'Mainland China',
   'lat': 43.66657,
   'lng': 126.1917,
   'confirmed': 80.0,
   'recovered': 12.0,
   'deaths': 1.0},
  'Liaoning': {'region': 'Mainland China',
   'lat': 41.29284000000001,
   'lng': 122.6086,
   'confirmed': 107.0,
   'recovered': 12.0,
   'deaths': 0.0},
  'London, ON': {'region': 'Canada',
   'lat': 42.9849,
   'lng': -81.2453,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Los Angeles, CA': {'region': 'US',
   'lat': 34.0522,
   'lng': -118.2437,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Macau': {'region': 'Macau',
   'lat': 22.1987,
   'lng': 113.5439,
   'confirmed': 10.0,
   'recovered': 10.0,
   'deaths': 0.0},
  'Madison, WI': {'region': 'US',
   'lat': 43.0731,
   'lng': -89.4012,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Malaysia': {'region': 'Malaysia',
   'lat': 4.2105,
   'lng': 101.9758,
   'confirmed': 18.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Nepal': {'region': 'Nepal',
   'lat': 28.3949,
   'lng': 84.124,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'New South Wales': {'region': 'Australia',
   'lat': -33.8688,
   'lng': 151.2093,
   'confirmed': 4.0,
   'recovered': 2.0,
   'deaths': 0.0},
  'Ningxia': {'region': 'Mainland China',
   'lat': 37.26923,
   'lng': 106.1655,
   'confirmed': 49.0,
   'recovered': 13.0,
   'deaths': 0.0},
  'Orange, CA': {'region': 'US',
   'lat': 33.7879,
   'lng': -117.8531,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Philippines': {'region': 'Philippines',
   'lat': 12.8797,
   'lng': 121.774,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 1.0},
  'Qinghai': {'region': 'Mainland China',
   'lat': 35.65945,
   'lng': 96.02564,
   'confirmed': 18.0,
   'recovered': 3.0,
   'deaths': 0.0},
  'Queensland': {'region': 'Australia',
   'lat': -27.4698,
   'lng': 153.0251,
   'confirmed': 5.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Russia': {'region': 'Russia',
   'lat': 61.524,
   'lng': 105.3188,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'San Benito, CA': {'region': 'US',
   'lat': 36.5761,
   'lng': -120.9876,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'San Diego County, CA': {'region': 'US',
   'lat': 32.7157,
   'lng': -117.1611,
   'confirmed': 0.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Santa Clara, CA': {'region': 'US',
   'lat': 37.3541,
   'lng': -121.9552,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Seattle, WA': {'region': 'US',
   'lat': 47.7511,
   'lng': -120.74,
   'confirmed': 1.0,
   'recovered': 2.0,
   'deaths': 0.0},
  'Shaanxi': {'region': 'Mainland China',
   'lat': 35.19165,
   'lng': 108.8701,
   'confirmed': 213.0,
   'recovered': 26.0,
   'deaths': 0.0},
  'Shandong': {'region': 'Mainland China',
   'lat': 36.34377,
   'lng': 118.1529,
   'confirmed': 459.0,
   'recovered': 63.0,
   'deaths': 1.0},
  'Shanghai': {'region': 'Mainland China',
   'lat': 31.20327,
   'lng': 121.4554,
   'confirmed': 295.0,
   'recovered': 44.0,
   'deaths': 1.0},
  'Shanxi': {'region': 'Mainland China',
   'lat': 37.57769,
   'lng': 112.2922,
   'confirmed': 119.0,
   'recovered': 25.0,
   'deaths': 0.0},
  'Sichuan': {'region': 'Mainland China',
   'lat': 30.617140000000006,
   'lng': 102.7103,
   'confirmed': 405.0,
   'recovered': 76.0,
   'deaths': 1.0},
  'Singapore': {'region': 'Singapore',
   'lat': 1.3521,
   'lng': 103.8198,
   'confirmed': 43.0,
   'recovered': 2.0,
   'deaths': 0.0},
  'South Australia': {'region': 'Australia',
   'lat': -34.9285,
   'lng': 138.6007,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'South Korea': {'region': 'South Korea',
   'lat': 37.5665,
   'lng': 126.978,
   'confirmed': 27.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Spain': {'region': 'Spain',
   'lat': 40.4637,
   'lng': -3.7492,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Sri Lanka': {'region': 'Sri Lanka',
   'lat': 7.8731,
   'lng': 80.7718,
   'confirmed': 1.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Sweden': {'region': 'Sweden',
   'lat': 60.1282,
   'lng': 18.6435,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Taiwan': {'region': 'Taiwan',
   'lat': 23.6978,
   'lng': 120.9605,
   'confirmed': 18.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Tempe, AZ': {'region': 'US',
   'lat': 34.0489,
   'lng': -111.094,
   'confirmed': 1.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Thailand': {'region': 'Thailand',
   'lat': 13.7563,
   'lng': 100.5018,
   'confirmed': 32.0,
   'recovered': 0.0,
   'deaths': 1.0},
  'Tianjin': {'region': 'Mainland China',
   'lat': 39.29362,
   'lng': 117.333,
   'confirmed': 94.0,
   'recovered': 4.0,
   'deaths': 1.0},
  'Tibet': {'region': 'Mainland China',
   'lat': 30.1534,
   'lng': 88.7879,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Toronto, ON': {'region': 'Canada',
   'lat': 43.6532,
   'lng': -79.3832,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'UK': {'region': 'UK',
   'lat': 55.3781,
   'lng': -3.4360000000000004,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'United Arab Emirates': {'region': 'United Arab Emirates',
   'lat': 23.4241,
   'lng': 53.8478,
   'confirmed': 7.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Victoria': {'region': 'Australia',
   'lat': -37.8136,
   'lng': 144.9631,
   'confirmed': 4.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Vietnam': {'region': 'Vietnam',
   'lat': 21.0278,
   'lng': 105.8342,
   'confirmed': 14.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Xinjiang': {'region': 'Mainland China',
   'lat': 41.11981,
   'lng': 85.17822,
   'confirmed': 49.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Yunnan': {'region': 'Mainland China',
   'lat': 24.97411,
   'lng': 101.4868,
   'confirmed': 141.0,
   'recovered': 18.0,
   'deaths': 0.0},
  'Zhejiang': {'region': 'Mainland China',
   'lat': 29.18251,
   'lng': 120.0985,
   'confirmed': 1092.0,
   'recovered': 201.0,
   'deaths': 0.0}},
 '_id': ObjectId('5e44d88ad2425471f7936929')}